{% extends 'layouts/base.html' %}

{% block title %} Riwayat Pembayaran {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .search-button{
    z-index: 0;
  }
  .align-col{
    display: flex;
    justify-content: space-between;
  }
  .select-filter{
    border: none;
    margin-right: 8px;
  }
</style>
{% endblock stylesheets %}

{% block content %}
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col">
              <form action="" method="GET">
                <div class="input-group">
                  <input type="text" name="search_box" id="search_box" class="form-control" placeholder="Cari Riwayat Pembayaran" autocomplete="off">
                  <div class="input-group-append search-button">
                    <button class="btn btn-secondary" id="search_submit" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
          
      {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <span class="alert-inner--text"><strong>{{ message }}</strong></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span class="alert-inner--text"><strong>{{ message }}</strong></span>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
      {% endfor %}

      <!-- Table -->
      <div class="row">
        <div class="col-xl-2">
          <div class="card shadow mb-2">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col align-col">
                  <h3 class="mb-0">Filter</h3>
                  <a href="{% url 'list-pembayaran' %}"><i class="fas fa-filter"></i></a>
                </div>
              </div>
            </div>
            <form action="" method="GET">
              <div class="input-group mb-3">
                <select class="form-control select-filter" name="month" id="inputGroupSelect01">
                  <option value="1">Januari</option>
                  <option value="2">Februari</option>
                  <option value="3">Maret</option>
                  <option value="4">April</option>
                  <option value="5">Mei</option>
                  <option value="6">Juni</option>
                  <option value="7">Juli</option>
                  <option value="8">Agustus</option>
                  <option value="9">September</option>
                  <option value="10">Oktober</option>
                  <option value="11">November</option>
                  <option value="12">Desember</option>
                </select>
              </div>
              
              <div class="input-group mb-3">
                <select class="form-control select-filter" name="year" id="inputGroupSelect02">
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                  <option value="2031">2031</option>
                  <option value="2032">2032</option>
                </select>
              </div>

              <div class="text-center mb-4">
                <button type="submit" class="btn btn-primary">Filter data</button>
              </div>
            </form>
          </div>
        </div>
        
        <div class="col-xl-10">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Riwayat Pembayaran</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">
                      Tanggal 
                    </th>
                    <th scope="col">Bukti Pembayaran</th>
                    <th scope="col">Nama Siswa</th>
                    <th scope="col">SPP</th>
                    <th scope="col">Jumlah Bayar</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                {% if pembayarans %}
                {% for pembayaran in pembayarans %}
                  <tr>
                    <td scope="row">
                      {{ pembayaran.tgl_bayar }}
                    </td>
                    <td>
                        {% if pembayaran.bukti_pembayaran %}
                            <a href="{{ pembayaran.bukti_pembayaran.url }}" data-toggle="lightbox"><img class="img-fluid" src="{{ pembayaran.bukti_pembayaran.url }}" alt="" width="75"></a>
                        {% endif %}
                    </td>
                    <td>
                        {{ pembayaran.siswa }}
                    </td>
                    <td>
                      {{ pembayaran.id_spp }}
                    </td>
                    <td>
                      {{ pembayaran.jumlah_bayar }} Bulan
                    </td>
                    <td>
                      {% if pembayaran.status_pembayaran == 'pending' %}
                        <span class="badge badge-dot mr-4">
                          <i class="bg-warning"></i> {{ pembayaran.status_pembayaran }}
                        </span>
                      {% elif pembayaran.status_pembayaran == 'success' %}
                        <span class="badge badge-dot mr-4">
                          <i class="bg-success"></i> {{ pembayaran.status_pembayaran }}
                        </span>
                      {% else %}
                        <span class="badge badge-dot mr-4">
                          <i class="bg-danger"></i> {{ pembayaran.status_pembayaran }}
                        </span>
                      {% endif %}
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-icon-only text-muted btn-secondary" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <button type="button" data-toggle="modal" data-target="#lihat-{{ pembayaran.id }}" class="dropdown-item">Lihat Keterangan</button>
                          <button type="button" data-toggle="modal" data-target="#hapus-{{ pembayaran.id }}" class="dropdown-item">Hapus Pembayaran</button>
                          <a class="dropdown-item" href="{% url 'ubah-pembayaran' pembayaran.id %}">Edit Pembayaran</a>
                        </div>
                      </div>
                    </td>

                    <!-- Modal -->
                    <div class="modal fade" id="lihat-{{ pembayaran.id }}" tabindex="-1" role="dialog" aria-labelledby="pembayaranModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="pembayaranModalLabel">Keterangan</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            {% if pembayaran.status_pembayaran == 'success' %}
                            <p><strong>Pembayaran diterima oleh : {{ pembayaran.nama_petugas }}</strong></p>
                            {% elif pembayaran.status_pembayaran == 'rejected' %}
                            <p><strong>Pembayaran ditolak oleh : {{ pembayaran.nama_petugas }}</strong></p>
                            {% endif %}
                            <p><strong>Keterangan : {{ pembayaran.keterangan }}</strong></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="hapus-{{ pembayaran.id }}" tabindex="-1" role="dialog" aria-labelledby="pembayaranModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="pembayaranModalLabel">Batalkan Pembayaran</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p><strong>Apakah anda yakin akan membatalkan pembayaran ?</strong></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                            <a href="{% url 'hapus-pembayaran' pembayaran.id %}" class="btn btn-primary">Ya</a>
                          </div>
                        </div>
                      </div>
                    </div>

                  </tr>
                  
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="7">
                    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                      <span class="alert-inner--text"><strong>Tidak ada pembayaran yang berlangsung saat ini</strong></span>
                    </div>
                  </td>
                </tr>
                {% endif %}
                </tbody>
              </table>
            </div>

            <div class="card-footer py-4">
              <nav aria-label="..." class="align-col">
                <a href="{% url 'export-xls' %}" class="btn btn-success pl-2 pr-2 pt-1 pb-1">Export To Excel</a>
                <ul class="pagination justify-content-end mb-0">
                  {% if pembayarans.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ pembayarans.previous_page_number }}" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">
                      <i class="fas fa-angle-left"></i>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  {% endif %}
                  
                  {% for i in pembayarans.paginator.page_range %}
                    {% if i == pembayarans.number %}
                      <li class="page-item active">
                        <a class="page-link" href="#">{{ i }}</a>
                      </li>
                    {% else %}
                      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                  {% endfor %}

                  {% if pembayarans.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ pembayarans.next_page_number }}">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="#">
                      <i class="fas fa-angle-right"></i>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                  {% endif %}

                </ul>
              </nav>
            </div>

          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}