# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log
*.env

# venv
env
venv

# other
.DS_Store

# javascript
package-lock.json

core/media/*

!core/media/.gitkeep
staticfiles/*
!staticfiles/interface.png
!staticfiles/.gitkeep 
.vscode/symbols.json