{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <p>
                        Kami telah mengirimi anda email petunjuk untuk mengatur ulang kata sandi anda, jika akun anda sesuai dengan email yang anda masukkan, anda akan segera menerimanya.
                    </p>
                    <p>
                        Jika anda tidak menerima email, pastikan alamat email yang anda masukkan benar dan periksa folder spam anda.
                    </p>
                </div>
            </div>
          </div>

          <div class="row mt-3">
          </div>
          
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
