{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                    <h1>LUPA PASSWORD</h1>
                </div>
                <form method="post">
                    {% csrf_token %}

                    
                    <div class="form-group mb-3">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Masukkan alamat email">
                      </div>
                    </div>
                    
                    <div class="text-center">
                      <button class="btn btn-primary my-4" type="submit">Submit</button>
                    </div>
                </form>
            </div>
          </div>

          <div class="row mt-3">
          </div>
          
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
