{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row"></div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5">
                  <div class="text-center text-muted mb-4">
                    <h1>Ubah Spp</h1>
                  </div>

                  <form action="{% url 'ubah-spp' spp.id %}" method="POST" id="ubah-spp-form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="tahun">Pilih SPP</label>
                        <div class="input-group input-group-alternative mb-3">
                            {{ form.tahun }}
                        </div>
                    </div>
                    <span class="text-error">{{ form.tahun.errors }}</span>

                    <div class="form-group">
                        <label for="nominal">Pilih SPP</label>
                        <div class="input-group input-group-alternative mb-3">
                            {{ form.nominal }}
                        </div>
                    </div>
                    <span class="text-error">{{ form.nominal.errors }}</span>
                    
                    <div class="text-center">
                      <button type="button" data-toggle="modal" data-target="#hapus-{{ spp.id }}" class="btn btn-danger mt-4">Hapus Spp</button>
                      <button type="submit" class="btn btn-primary mt-4">Ubah Spp</button>

                      <!-- Modal Hapus User -->
                      <div class="modal fade" id="hapus-{{ spp.id }}" tabindex="-1" role="dialog" aria-labelledby="sppModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sppModalLabel">Hapus Spp</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Apakah anda yakin ingin menghapus data Spp berikut ?</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tidak</button>
                                <a href="{% url 'hapus-spp' spp.id %}" class="btn btn-primary">Ya</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                  </form> 
      
                </div>
            </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}